<nav>
    <div class="añadir">
        <button  type="button">Añadir</button>
    </div>           

    <div class="biblioteca">
        <button  type="button">Biblioteca</button>
    </div>
  
    <div class="prestamo">
        <button  type="button">Prestamo</button>    
    </div>
</nav>