<div class="añadir">

     <nav>
        <button  type="button">Añadir</button>
     </nav>

</div>           

<div class="biblioteca">

    <nav>
        <button  type="button">Biblioteca</button>
    </nav>
    
</div>

<div class="prestamo">
    
    <nav>
        <button  type="button">Prestamo</button>
    </nav>
        
</div>