<main class="bordeverde">
    <nav>
            <!-- <input type="button"><img src="./imgs/arrow1.png" alt="disponible>  -->
            <!-- <input type="button"><img src="./imgs/papelera11.png" alt="disponible>  -->

        </nav>


        <section>
            <figure class="fotocaja"><img class="img-portada" src="./imgs/astroboy.jpg" alt="foto portada comic">
                <figcaption>Osama Tezuka<br>&nbsp;&nbsp;&nbsp;&nbsp;Astroboy</figcaption>
            </figure>

        </section>

        <section class="datacomic">
            <div>
                <h3>Categoría</h3>
                <p>&nbsp;&nbsp;Manga</p>
            </div>

            <div>
                <h3>Fecha</h3>
                <p>13/01/77</p>
            </div>

            <div>
                <h3>Género</h3>
                <p>Ci-Fi</p>
            </div>
        </section>

        <section class="resumen">
            <p class=>Astroboy/Sinopsis<br><br>
                Tras perder a su hijo Toby, el brillante científico y Ministro de Ciencias Dr. Tenma intenta
                reemplazarle
                con Astro Boy, un robot con cuerpo de niño y sentimientos humanos dotado de extraordinarios
                superpoderes:
                visión con rayos X, una gran inteligencia artificial y cohetes en sus botas y brazos.</p>
            </section>

            <section>
                <input type="button"><img class="img-pulgar"src="./imgs/pulgar_verde1.png" alt="disponible"> 
            </section>

        <footer class="dispo"></footer>
</main>