
<main class="borderojo">
    <nav>
            <!-- <input type="button"><img src="./imgs/arrow1.png" alt="disponible>  -->
            <!-- <input type="button"><img src="./imgs/papelera11.png" alt="disponible>  -->

        </nav>


        <section>
            <figure class="fotocaja"><img class="img-portada" src="./imgs/fairyland.jpg" alt="foto portada comic">
                <figcaption>Skottie Young<br>&nbsp;&nbsp;&nbsp;&nbsp;Fairyland</figcaption>
            </figure>

        </section>

        <section class="datacomic">
            <div>
                <h3>Categoria</h3>
                <p>Americano</p>
            </div>

            <div>
                <h3>Fecha</h3>
                <p>31/05/1987</p>
            </div>

            <div>
                <h3>Génro</h3>
                <p>Aventuras</p>
            </div>
        </section>

        <section class="resumen">
            <p class=>Fairyland/Sinopsis<br><br>
                Tras perder a su hijo Toby, el brillante científico y Ministro de Ciencias Dr. Tenma intenta
                reemplazarle
                con Astro Boy, un robot con cuerpo de niño y sentimientos humanos dotado de extraordinarios
                superpoderes:
                visión con rayos X, una gran inteligencia artificial y cohetes en sus botas y brazos.</p>
            </section>

            <section>
                <input type="button"><img class="img-pulgar"src="./imgs/pulgar_rojo1.png" alt="disponible"> 
            </section>

        <footer class="dispo"></footer>
        </main>

