<div class="portadas">
<section class="fig-col">
<figure><img class="img-collection" src="./imgs/saga.jpg" alt="portada del comic"></figure>
<label for="">Saga</label>
</section>

<section class="fig-col">
<figure><img class="img-collection" src="./imgs/astroboy.jpg" alt="portada del comic"></figure>
<label for="">Astroboy</label>
</section>

<section class="fig-col">
<figure><img class="img-collection" src="./imgs/buscon.jpg" alt="portada del comic"></figure>
<label for="">El Buscón De Las Indias</label>
</section>

<section class="fig-col">
<figure><img class="img-collection" src="./imgs/saga.jpg" alt="portada del comic"></figure>
<label for="">Saga</label>
</section>

<section class="fig-col">
<figure><img class="img-collection" src="./imgs/astroboy.jpg" alt="portada del comic"></figure>
<label for=""Astroboy>Astroboy</label>
</section>

<section class="fig-col">
<figure><img class="img-collection" src="./imgs/buscon.jpg" alt="portada del comic"></figure>
<label for="">El Buscón De Las Indias</label>
</section>


<section class="fig-col">
<figure><img class="img-collection" src="./imgs/saga.jpg" alt="portada del comic"></figure>
<label for="">Saga</label>
</section>


<section class="fig-col">
<figure><img class="img-collection" src="./imgs/astroboy.jpg" alt="portada del comic"></figure>
<label for="">Astroboy</label>
</section>


<section class="fig-col">
<figure><img class="img-collection" src="./imgs/buscon.jpg" alt="portada del comic"></figure>
<label for="">El Buscón De Las Indias</label>
</section>

</div>