<section class="fichaComic">

    <input type="image" src="" alt="">

    <label for="id" class="">ID</label>
    <input type="text" name="id" id="id">

    <label for="fecha" class="">Fecha</label>
    <input type="text" name="fecha" id="fecha">

    <label for="prestamo" class="">Préstamo</label>
    <input type="text" name="prestamo" id="prestamo">

    <label for="disponibilidad" class="">Disponibilidad</label>
    <input type="text" name="disponibilidad" id="disponibilidad">

</section>