


<header></header>

    <nav>
        <div class="añadir">
            <button class="selectormenu" type="button"><a href="/addform">Añadir</a></button>
        </div>

        <div class="biblioteca">
            <button class="selectormenu" type="button"><a href="/coleccion">Biblioteca</a></button>
        </div>

        <div class="prestamo">
            <button class="selectormenu" type="button"><a href="/prestamo">Prestamo</a></button>
        </div>
    </nav>

    <footer></footer>