<figure class="photobox"><img class="img-comic" src="imgs/fairyland.jpg" alt="imagen portada del comic"></figure>

    <form action="" class="buscador">
        <div class="campos">
            <label for="nombre">Nombre</label>
            <input class="cajas" type="text" name="nombre">
        </div>

        <div class="campos">
            <label for="fecha">Fecha</label>
            <input  class="cajas" type="date" name="fecha">
        </div>

        <div class="campos">
            <label for="prestamo">Préstamo</label>
            <input t class="cajas" type="text" name="prestamo">
        </div>

        <div class="campos">
            <label for="disponibilidad">Disponibilidad</label>
            <input  class="cajas" type="text" name="disponibilidad">
        </div>

    </form>