<form action="" method="POST">
    <div>
        <label for="categoria" class="">Categoría</label>
        <input type="text" name="categoria" id="categoria">

        <label for="coleccion" class="">Colección</label>
        <input type="text" name="coleccion" id="coleccion">

        <label for="genero" class="">Género</label>
        <input type="text" name="genero" id="genero">

        <label for="autor" class="">Autor</label>
        <input type="text" name="autor" id="autor">

        <label for="fecha" class="">Fecha</label>
        <input type="text" name="fecha" id="fecha">

        <label for="numtomo" class="">Num.Tomo</label>
        <input type="text" name="numtomo" id="numtomo">
    </div>

    <div>
        <input type="image" name="portada" id="portada">
        <input type="radio" name="prestado" id="prestado">
        <input type="radio" name="noprestado" id="noprestado">
    </div>

    <div>
        <label for="sinopsis" class="">Sinopsis</label>
        <input type="text" name="sinopsis" id="sinopsis">
    </div>
</form>