.img-comic {
  margin: auto;
  margin-top: 10vw;
  width: 75vw;
  height: 50vh;
  border-radius: 10%;
}
.img-collection {
  width: 22vw;
  height: 20vh;
  border-radius: 10%;
}
.fig-col label {
  font-size: 1.3rem;
  font-style: bold;
}

.img-portada {
  margin: 50% auto auto auto;
  display: flex;
  justify-content: center;
  width: 50%;
  border-radius: 10%;
}

input {
  border-radius: 9vw;
  box-shadow: 2px 2px 2px silver;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  text-align: center;
  align-items: center;
  font-size: 48px;
  margin-top: 3rem;
}

.bloque-margin-bot > label {
  display: block;
  margin-bottom: 0.5rem;
}

.bloque-margin-bot input {
  border-radius: 8px;
  height: 2rem;
  width: 100%;
  box-shadow: 0px 9px 11px rgba(0, 0, 0, 0.13);
}

.boton > input {
    margin-top: 1.5rem;
    background: #002279;
    box-sizing: border-box;
    box-shadow: 0px 9px 11px rgba(0, 0, 0, 0.13);
    border-radius: 8px;
    padding: .8rem 6rem;
    color: #fff;
    font-weight: 900;
}

/* MIGUEL */

.selectormenu{
  background-color: #002279;
  font-size: 0.9rem;
  font-family: 'Source Sans Pro', sans-serif;
  border-radius: 9px;
  width: 7rem;
  text-align: start;
  box-shadow: 5px 2px 2px rgb(102, 102, 109);
  padding-left: 0.6rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}

div.añadir{
  background-image: url(/imgs/imagenjoker.png);
  background-size:7rem;
  background-repeat: no-repeat;
  background-position: right;
}

div.biblioteca{
  background-image: url(/imgs/imagencomics.png);
  background-size:13rem;
  background-repeat: no-repeat;
  background-position: right;
  background-position-y: bottom;
}

div.prestamo{
  background-image: url(/imgs/imagenspiderman.png);
  background-size:9.5rem;
  background-repeat: no-repeat;
  background-position: right;
  background-position-y: bottom;
}

.img-pulgar{ 
  margin-bottom: 2vh;
  margin-left: 70vw;
  width: 19vw;
  height: 10vh;

}

.selectormenu a {
  text-decoration: none;
  color: whitesmoke;
}