* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

header {
  background-image: url("../imgs/superheroes.jpg");
  height: 10vh;
}

footer {
  background-image: url("../imgs/superheroes.jpg");
  height: 10vh;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-top: 1vh;
}

body {
  background-color: #fffaca;
  font-family: "Source Sans Pro", sans-serif;
  display: grid;
  grid-template-columns: auto;
}



.buscador {
  display: flex;
  flex-direction: column;
  margin: 12vw;
  align-items: center;
}

.campos {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 1.5vw;
}

.cajas {
  width: 50vw;
}

.photobox {
  margin: auto;
}

.portadas {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.fig-col {
  /* margin:auto; */
  margin-top: 5vw;
  text-align: center;
  justify-content: center;
}

#portada {
  display: flex;
  justify-content: center;
  background-image: url("../imgs/superheroes.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.form-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 100vw;
}

.bloque-margin-bot{

    margin-bottom: 2rem;
    width: 90vw;

}

.regCategoria {
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 25%;
    font-size   : 100%;
    text-align: center;
    display: block;
    
}

.regColeccion {

    display: block;
    width: 30px;
}

.regColeccion {

    margin-top: 3vh;
    display: block;
    width: 30px;

}

.regGenero {

    margin-top: 3vh;
    display: block;
    width: 30px;

}

.regAutor {
    margin-top: 3vh;
    display: block;
    width: 30px;

}

.regFecha {
    margin-top: 3vh;
    display: block;
    width: 30px;

}

.regNumtomo {
    margin-top: 3vh;
    display: block;
    width: 30px;
    
} 
#registroFormulario {
    margin-left: 5% ;
}


#disponibilidad {
    font-size: 90%;
   

}

#bloqueDisponibilidad{
    margin-top: 3vh;
    font-size: 80%;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content:space-between;
    margin-right: 35%;

}

.sinopsis {
    margin-top: 3vh;
    font-size: 80%;
}
#botonesEnviar {
    margin-top: 1vh;
    display: flex;
    justify-content:space-evenly;
    margin-right: 15%;
}

/* MIGUEL */
nav{
  line-height: 7rem;
  margin: 2rem;
}

nav div{
  margin-top: 2rem;
  background-color: #e9d04b;
  border-radius: 1rem;
  box-shadow: 10px 5px 5px silver;
  padding-left: 0.5rem;
}

.fotocaja{
  display: flex;
  flex-direction: column;
  margin: 18vw;
  margin-top: 5vh; 
  align-items: center;
}

.bordeverde{
  border-color: #92E63D;
  border-width: 10px;
  border-style: solid;
}
.datacomic{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 10vw;
  margin-top: -2.5vh;
  margin-left: 15vw;
}

.dispo{
  background-image: url("../imgs/pulgar_verde1.png"); 
  margin:auto;
}


.resumen{
font-family: 'Source Sans Pro', sans-serif, #87867C;
padding-bottom: 1vh;
}

.borderojo{
  border-color: #E64C3D;
  border-width: 10px;
  border-style: solid;
}

